@media (max-width: 1211px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 12px;
  }
  .header {
    padding: 0 50px;
  }
  /*******************************/
  /*HER0 SECTION*/
  /*******************************/
  .hero {
    gap: 10px;
    /* overflow-x: hidden; */
  }
  .hero-description {
    font-size: 14px;
  }
  .primary-heading {
    font-size: 55px;
  }
  /*******************************/
  /*FEATURES SECTION*/
  /*******************************/
  .section-features {
    padding: 250px 0 96px 0;
  }
  .grid {
    gap: 20px;
  }
  .feature-text {
    font-size: 14px;
  }
}
@media (max-width: 1071px) {
  .hero-img {
    position: static;
    width: 100%;
  }
  .hero {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
  }
  .secondary-heading {
    font-size: 45px;
  }
  .feature-title {
    font-size: 20px;
  }
  .feature-text {
    font-size: 12px;
  }

  .section-features {
    padding: 150px 0 100px 0;
  }
}
@media (max-width: 768px) {
  .primary-heading {
    font-size: 45px;
  }
  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 12px;
  }
  /*MOBILE NAVIGATION*/
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .main-nav {
    background-color: hsl(256, 26%, 20%);
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /*hide navigation*/
    /*allows NO transitions at all*/
    /* display: none; */
    /* opacity: 0; */
    /* make it unaccessible to mouse and keyboard  */
    pointer-events: none;
    /* Hide it from screen readers */
    visibility: hidden;
  }
  .nav-open .main-nav {
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 20px;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 16px;
    color: #fff;
  }
  .nav-cta:link,
  .nav-cta:visited {
    font-size: 16px;
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.3s;
  }
  .section-features {
    padding: 100px 0 96px 0;
  }
}
@media (max-width: 768px) {
  .hero-img {
    width: 100%;
  }
  .section-hero {
    padding: 0;
  }
  .hero {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .hero-description {
    font-size: 18px;
  }
  .line {
    display: none;
  }
  .primary-heading {
    font-size: 65px;
    text-align: center;
  }
  .hero-text-box {
    grid-row: 2;
    padding: 0 34px;
  }
  .hero-img-box {
    grid-row: 1;
    margin-top: 0;
  }
  /*******************************/
  /*FEATURES SECTION*/
  /*******************************/
  .line2 {
    width: 160px;
    height: 2px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;

    text-align: center;
  }
  .feature-text {
    padding: 0 82px;
  }
  /*******************************/
  /*CTA-SECTION*/
  /*******************************/
  .cta {
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
    gap: 20px;
  }
  .cta-section {
    padding: 48px 10px 96px 10px;
  }
  /*******************************/
  /*FOOTER SECTION*/
  /*******************************/
  .logoicons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .grid-4-cols {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    gap: 30px;
  }
}
@media (max-width: 514px) {
  .primary-heading {
    font-size: 45px;
    text-align: center;
  }
  .hero-description {
    font-size: 16px;
  }
  .feature-title {
    font-size: 24px;
  }
  .feature-text {
    padding: 0 32px;
    font-size: 16px;
  }
  .cta-section {
    padding: 48px 16px 96px 16px;
  }
  .hero-img-box {
    margin-top: 0;
  }
}
